body{
    margin: 0px;
    
    padding: 0px;
    display: flex;
  
    flex-direction: column;

}

.header{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding:10px 20%;
  
}
.header-top{
    flex:1;
    flex-shrink: 0;
    gap:550px;
    margin-bottom: 50px;
}
.logo{
    width:80px;
    height:40px;
    flex-shrink: 0;

}

.people,
.title,
.size{
    width:400px;
    height:250px;
    flex-shrink: 0;
}
.header-links{
    display: flex; 
    gap:10px;
    padding: 0px;
    margin: 0px;
    flex-shrink: 0;
}
a{
    text-decoration: none;
    color:gray;
}
.home{
    font-size: 32px;
}
.span-scorpio{
    background-color:#1F3337;
    font-style: italic;
}
button{
    background-color: #3882f6;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    padding: 5px 30px;
    margin-top: 10px;
}
.header,
.footer{
    background-color: #1F2937;
}
.title{
    color: white;
    margin: 10px;
}
.home{
    font-size: 48px;
    font-weight: 900;
}
.footer{
    color: white;
    display: block;
}

.section-one{
    background-color: white;
    flex-direction: column;
    margin-bottom: 20px;
}
.head-one{
    width: 800px;
    text-align: center;
    margin: 10px;
    font-size: 36px;
    color: #1F2937;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.illustrations,
.section-three{
    display: flex;
}
.traits{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.img-trait{
    height: 200px;
    width: 180px;
}
.personal{
    width: 180px;
}
.section-two{
    background-color: #e5e7eb;
}
.ini{
    width: 800px;
    font-family: "Lobster";
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
.section-one,
.section-three,
.header-bottom,
.header-top,
.section-two,
.sect-3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-three{
    background-color: white;
}
.sect-3{
    padding: 20px 40px;
    margin: 40px auto;
    background-color:#3882f6 ;
    color: #e5e7eb;
    justify-content: space-between;
    width: 720px;
    border-radius: 8px;
}
.bold-text,
.head-one,
.home{
    font-weight: 700;
}
.sign-up.second{
   border:1px solid white; 
   color: white;   
}

.footer{
    padding: 20px 40px;
    text-align: center;
}