body{
    padding: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.entire-document{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 10px auto;
    width:600px;

}

.header{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.header-top{
    width:600px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
}
.logo{
    width:100px;
    height:40px;
    flex-shrink: 0;

}
.header-bottom{
    display: flex;
 

    align-items: center;
    justify-content: center;
}

.people,
.title,
.size{
    width:300px;
    height:200px;
}
.header-links{
    display: flex; 
   
    gap:10px;
    padding: 0px;
    margin: 0px;

}
a{
    text-decoration: none;
}
.home{
    font-weight: 700;
    font-size: 32px;
}
.span-scorpio{
    background-color: aqua;
    font-style: italic;
}
button{
    background-color: rgb(0, 183, 255);
    font-weight: 400;
    border-radius: 5px;
    border: none;
    padding: 5px 30px;
}
